* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

html {
    scroll-behavior: smooth ; 
}


hr {
    width: 80%;
    background-color: #adadad;
    height: 3px;
    margin: 20px auto;

}

:root {
    --red: #FF2927;
    --white: #eee;
    --black: #000;
    --orange: #f68b20;
    --purple: #1a0154;
    --light-white: #F6F6F6;
    --light-grey: #ebebeb;
}

ul {
    margin: 0;
    overflow: visible;

}

.margin {
    margin: 50px 0;
}


.container {
    margin: 0 auto;
    width: 80%;
}

.navbar-container .red {
    height: 30px;
    width: 100%;
    background-color: var(--red);
}

.navbar-container .red .container .logo {
    top: 15px;
    width: 250px;
    height: 100px;
    overflow: visible;
    background-color: white;
    z-index: 10;
    position: relative;
    border: 1px solid #d6d6d6;
    position: relative;
}


.navbar-container .red .container .logo img {
    position: absolute;
    background: center ;
    width: 100%;
    height: 100%;
}

.navbar-container .navbar {
    background-image: linear-gradient(to top, #ebebeb, #f0f0f0, #f5f5f5, #fafafa, #ffffff);
    width: 100%;
    height: 60px;
    z-index: 1;

}

/*End of red div*/
.navbar {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
}

.navbar .navbar-list-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-end
}



.navbar .navbar-list-container li {


    display: inline-block;
    margin: 0 20px;
}

.navbar .navbar-list-container li a {
    color: var(--red);
    font-size: large;
    text-decoration: none;

}

/*End of navbar*/



.title {
    border-bottom: 2px var(--red) solid;
    font-size: xx-large;
    left: 0;
    color: #696767;
}

/*The btns*/
.btn-orange {
    color: white;
    padding: 10px 30px;
    box-shadow: var(--black) 2px 2px;
    border: none;
    background-color: var(--orange);
    border-radius: 10px;
    width: 160px;
    height: 30px;
    line-height: 3px;
}


/*Start of slider */


.js .slider-single>div:nth-child(1n+2) {
    display: none
}

.js .slider-single.slick-initialized>div:nth-child(1n+2) {
    display: block
}

h3 {
    background: #f0f0f0;
    color: #3498db;
    font-size: 2.25rem;
    margin: 0 px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.image-slider-perant {
    position: relative;
    width: 95%;
    height: 400px;
}


.image-slider-perant img{
    width: 100%;
    height: 100%;
    background:cover center ;
    margin: 0 auto;
    position: absolute;
}


.slider-single h3 {
    line-height: 10rem;
}

.slider-nav h3::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.slider-nav h3 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-nav .slick-slide {
    cursor: pointer;
}

.slick-slide.is-active h3 {
    color: #c00;
    background-color: #fff
}


.slider-container {
    position: relative;
    width: 88%;
    background-color: #f3f3f3;
    padding: 30px;
    -moz-box-shadow:    inset 0 0 4px grey;
    -webkit-box-shadow: inset 0 0 4px grey;
    box-shadow:         inset 0 0 4px gray;
    border-radius: 10px;
    margin: 0 auto;

}

.slider .slider-single {
    position: absolute;
    

}





.slider-nav .slick-arrow {
    background-color: black;
    height: 50px;
}

.slider-nav {
    width: 93%;
    margin: 7px auto;
}

.slider-nav .slick-slide {
    cursor: pointer;
    width: 128px;
    height: 70px;
    margin: 0px 1px;

}


.slider-nav .slick-arrow {
    background-color: black;
    height: 50px;
}


.slider-nav div {
    margin: 0 1px;
}

/*End of slider section*/


/*Start of blog section*/

.blog-post-container {
    background-color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blog-post {
    position: relative;
    width: 30%;
    margin-bottom: 35px ;
    flex-wrap: nowrap;
    overflow: hidden;


}

.blog-post .blog-image-container {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.blog-post .blog-image-container img {
    position: absolute;
    width: 100%;

}



.blog-post .blog-text {
    position: relative;
    bottom: 0;

}



/*End of blog section*/



/*Form section*/

.form-container {width: 30%;}

/*End of form section*/



/*Start of options section*/
.options {
    background-color: #f6f6f6;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;


}


.options li {
    display: inline-block;
    text-align: center;

}

.options li a {

    text-align: center;
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.options ul li.active {

    background-color: #333333;
}

.options ul li.active a {
    color: white;
}


/*End of options section*/



/* Post section */


.posts-container {
    background-color: var(--light-gray);
    height: auto;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}


.posts-container .post {
    width: 31%;
    position: relative;
    height: 500px;
    background-color: #444;
    border: 2px solid var(--purple);
    background-color: white;
    margin-bottom: 35px;
}

.posts-container .post .image-container {
    position: relative;
    width: 100%;
    height: 40%;
    text-align: center;
    color: white;
}



.posts-container .post .image-container img {
    width: 100%;
    height: 100%;

}

.posts-container .post .image-container .iamge-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    color: red;
    text-transform: uppercase;

}



.posts-container .post .text-container ul {
    padding: 10px;
    color: #444;
    border-bottom: 2px var(--purple) solid;
}





.posts-container .post .text-container .post-title {
    color: #333333;
    font-size: large;
}

.conect-info {
    padding: 10px;
}

.post .phone {
    position: absolute;
    width: 50%;
    float: left;
}

.post .fax {
    position: absolute;
    width: 50%;
    float: right;
    right: 0;
}




.post-btn {
    bottom: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--purple);
    position: absolute;
    margin: 0;
}




/*End of post section*/




/*Start of footer section*/
.footer-container{
    width: 100%;
    position: relative;
    height: 200px;
}


.footer-container .footer-text {
    position: absolute;
    right: 0;
    text-align: end;

}


.footer-container .footer-logo {
    position: absolute;
}




/*End of footer section*/




/*Using Media Queries in 
order to create responsive website
Mobiles*/



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-container .red {
        display: none;
    }

    .slider-nav {
        display: none;
    }

    .blog-post {
        width: 51%;
    }

    .posts-container .post{
        width: 100% ; 
    }

}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar-container .red {
        display: none;
    }

    .slider-nav {
        display: none;
    }

    .blog-post {
        width: 100%;
        width: 51%;

    }

    .posts-container .post{
        width: 100% ; 
    }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .navbar-container .red {
        display: block;
    }

    .slider-nav {
        display: block;
    }

    .blog-post-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog-post {
        width: 100%;
        width: 65%;

    }

    .posts-container .post{
        width: 45% ; 
    }
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

    .navbar-container .red {
        display: block;
    }

    .slider-nav {
        display: block;
    }

    .blog-post {
        width: 30%;

    }

    .posts-container .post{
        width: 31% ; 
    }

}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}